<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.homyit.mapper.ScoreRecordsMapper">

    <resultMap id="BaseResultMap" type="cn.homyit.entity.DO.ScoreRecords">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="scoreBefore" column="score_before" jdbcType="INTEGER"/>
            <result property="scoreAfter" column="score_after" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>
